<!-- navber -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">MyBlog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <% if (user){ %>
        <a class="nav-item nav-link" href="./pages/new">new</a>
        <a class="nav-item nav-link" href="logout">logout</a>
      <% }else{ %>
        <a class="nav-item nav-link" href="/login">login</a>
      <% } %>
    </div>
  </div>
</nav>
<br>

<!-- pages routesにpostされる新規投稿作成ページ -->
<form method="post", action="/pages">
    <input class="form-control form-control-lg" type="text" placeholder="title" name="title">
    <br>
    <input class="form-control form-control-lg" type="text" placeholder="contents" name="contents">
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>