<!-- navber -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">MyBlog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if (user){ %>
          <a class="nav-item nav-link" href="/pages/new">new</a>
          <a class="nav-item nav-link" href="logout">logout</a>
        <% }else{ %>
          <a class="nav-item nav-link" href="/login">login</a>
        <% } %>
      </div>
    </div>
  </nav>
  
  <br>

  <!-- 投稿詳細画面 -->
  
  <div class="card">
    <div class="card-header">
      <%= pages.title %> 
    </div>
    <div class="card-body">
      <p class="card-text"><%= pages.contents %></p>
      <a href="/pages/<%= pages.pagesId %>/edit" class="btn btn-primary">編集</a>
      <a href="/pages/<%= pages.pagesId %>/delete" class="btn btn-primary">消去</a>
    </div>
  </div>
  




  